.cart-container {
    max-width: 1200px;
  }
  
  .cart-details-container {
    border-radius: 8px;
  }
  
  .cart-details-header {
    font-weight: bold;
  }
  
  .cart-btn {
    transition: all 0.3s;
  }
  
  .cart-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .cart-container h5,
  .cart-container h6 {
    margin: 0;
    font-weight: bold;
  }
  
  .btn-danger {
    background-color: orange;
    border-color: orange;
  }
  
  .btn-danger:hover {
    background-color: red;
    border-color: red;
  }
  